<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
            rel="stylesheet"
    />
    <!-- Asegúrate de que la ruta a los archivos estáticos sea relativa al directorio 'static' -->
    <link rel="stylesheet" th:href="@{/style.css}" />

    <title>Agencia</title>
  </head>
  <body>
    <header>
      <h1>La Agencia</h1>
      <ul>
        <li><p>La Agencia</p></li>
        <li><p>Paquetes</p></li>
        <li><p>Promociones</p></li>
        <li><p>Blog de viajero</p></li>
        <li><p>Contacto</p></li>
      </ul>
    </header>
    <main>
      <article class="principal">
        <section class="titulo">
          <button><p>Consultanos</p></button>
        </section>

        <section class="buscador">
          <input type="text" placeholder="¿A dónde queres ir?" />
          <div>
            <input type="date" />
            <input type="date" />
          </div>
          <button><p>Buscar</p></button>
        </section>
      </article>

      <section class="cartas">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </section>
    </main>
  </body>
</html>
