<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>voyagehub.com.ar - Login</title>
</head>
<link rel="stylesheet" href="style.css">
<head></head>

<body>
<nav></nav>

<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
    <div class="form-outline mb-4">
        <div
                th:if="${error != null}"
                class="card text-white bg-danger mb-3 mensajeError"
        >
            <div class="card-body"></div>
            <h5 class="card-title">Error!</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <div
            th:if="${exito != null}"
            class="card text-white bg-success mb-3 mt-3 mensajeExito"
    >
        <div class="card-body">
            <h5 class="card-title">Exito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>

    <form th:action="@{/logincheck}" method="POST">
        <!-- Email input -->
        <div>
            <input
                    name="email"
                    type="email"
                    id="form1Example13"
                    th:value="${email}"
                    class="form-control form-control-lg"
            />
            <label class="form-label" for="form1Example13"
            >Dirección de correo electrónico</label
            >
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input
                    name="contrasenia"
                    type="password"
                    id="form1Example23"
                    th:value="${contrasenia}"
                    class="form-control form-control-lg"
            />
            <label class="form-label" for="form1Example23">Contraseña</label>
        </div>
        <div class="text-left">
            <p>
                ¿No tienes una cuenta?
                <a th:href="@{/cliente/registrar}">Regístrate</a>
            </p>
        </div>

        <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="form1Example3"
                        checked
                />
                <label class="form-check-label" for="form1Example3">
                    Recuérdame
                </label>
            </div>
            <a th:href="@{/pwreset}">Olvidó su contraseña?</a>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            Ingresa aquí
        </button>

        <div class="divider d-flex align-items-center my-4"></div>
    </form>

    <section class="text-center container">
        <div class="row mt-3">
            <div class="divVolver">
                <a
                        th:href="@{/}"
                        id="back-link"
                        class="btn btn-secondary my-2 botonVolver botones"
                >Volver</a
                >
            </div>
        </div>
    </section>
</div>

<br/>

<hr/>
</body>
<footer></footer>
</html>
