<div
  th:fragment="footer"
  class="container"
  style="margin-top: 70px"
  xmlns:th="http://www.thymeleaf.org"
>
  <div class="row">
    <div class="col-md-3">
      <section>
        <h6 style="margin-left: 40px">MrHouse.com</h6>
        <ul style="list-style: none">
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Políticas de negocio</a></li>
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Como cuidamos la privacidad?</a></li>
        </ul>
      </section>
    </div>
    <div class="col-md-3">
      <section>
        <h6 style="margin-left: 40px">Descubre</h6>
        <ul style="list-style: none">
          <li><a href="#">Confianza & Seguridad</a></li>
          <li><a href="#">Mapa del Sitio</a></li>
        </ul>
      </section>
    </div>
    <div class="col-md-3">
      <section>
        <h6 style="margin-left: 40px">Alquileres</h6>
        <ul style="list-style: none">
          <li><a href="#">Porque alquilar</a></li>
          <li><a href="#">Alquiler responsable</a></li>
        </ul>
      </section>
    </div>
    <div class="col-md-3">
      <section>
        <h5 style="margin-left: 40px">
          <a href="#" style="color: #636e72"
            ><i class="fa fa-facebook" style="padding-right: 15px"></i
          ></a>
          <a href="#" style="color: #636e72"
            ><i class="fa fa-twitter" style="padding-right: 15px"></i
          ></a>
          <a href="#" style="color: #636e72"
            ><i class="fa fa-instagram" style="padding-right: 15px"></i
          ></a>
        </h5>
        <ul style="list-style: none">
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Como cuidamos la privacidad?</a></li>
          <li><a href="#">Mapa del Sitio</a></li>
        </ul>
      </section>
    </div>
  </div>
</div>
